<form class="form-horizontal" method="post">
	<fieldset>
		<legend>用户注册</legend>
		<div class="control-group">
			<label class="control-label" for="username">用户名</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="username" name="username" />
				<p class="help-block">你的用户名称，用于登陆和显示</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">密码</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" name="password" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password-repeat">重复密码</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password-repeat" name="password-repeat" />
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">注册</button>
		</div>
	</fieldset>
</form>
<div class="modal hide" id="passError">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>错误</h3>
	</div>
	<div class="modal-body">
		<p>两次密码必须相同，亲，请确认吧。</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary" data-dismiss="modal">重新来过</a>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

		$('#password-repeat').blur(function(e){
			if($(this).val() != $('#password').val()){
				$('#passError').modal();
			}
		});
		$('#passError').on('hide',function(){
			$('#password').focus();
		});

		$('#username').blur(function(e){
			var data = $(this).val();
			$.ajax({  
					type:'POST',
     				url: '/ckeckName',   
     				dataType: "json",  
     				data:'name=' + data,
     				cache: false, 
     				timeout: 5000,  
     				success: function(data) {  
         				if(data.auth == 'error'){
         					$('#username').next('p').addClass('error').text('此用户名已经存在，请重新填写');
         				}else{
         					$('#username').next('p').removeClass('error').text('此用户名仅此一个，可以使用');
         				} 
     				},  
     				error: function(jqXHR, textStatus, errorThrown) {  
        		 		$('#username').next('p').addClass('error').text('用户名坚持失败，服务器异常，请稍后再试吧');
     				}  
			});
		});
	});
</script>